<!DOCTYPE html>
<html lang="en" th:replace="~{Base :: parent(~{::section},~{::title} , ~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    
<section style="text-align: center; color: grey;">

<h1>Welcome to contact page</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur accusamus est deserunt quis, impedit cupiditate.</p>

</section>


<script>
    console.log("this is script 1 of help");
</script>

<script>
    console.log("this is script 2 of help")
</script>

</body>
</html>