<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{Base :: parent(~{::#content},~{::title} , ~{::script})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-up</title>
  </head>
  <body>


    <!-- main content starts -->

    <div id="content" >
      <div class="grid grid-cols-12">
        <div class="col-span-0 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>

        <div class="mt-2 col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
        
        
          <!-- card -->
          <div
            class="block p-6 border-t-[10px] border-blue-700 bg-white  rounded-xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-blue-700 dark:hover:bg-gray-700"
          >

          <!-- message area -->
          <div th:replace="~{message::messageblock}">

          </div>


            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Sign-up here
            </h5>

            <p class="font-normal text-gray-400 dark:text-gray-400">
              Start saving your contacts on cloud
            </p>

            <form th:action="@{'/doRegister'}" method="post" class="mt-2"  th:object="${formData}" novalidate>
              <!-- input fields -->


              <!-- for name  -->

              <div class="mb-5">
                <label
                  for="name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Name</label>
                <input
                  data-th-field="*{name}"
                  type="text"
                  id="name"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter here"
                  required
                />
                
              <p
                data-th-if="${#fields.hasErrors('name')}"  
                data-th-errors="*{name}"
                class="text-red-500 px-1 py-2"
                >
              </p>

              </div>

              <!-- for email  -->

              <div class="mb-5">
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Email</label
                >
                <input
                  th:field="*{email}"
                  type="email"
                  id="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="name@gmail.com"
                  required
                />
              </div>


              <!-- for phone -->
              <div class="mb-5">
                <label
                  for="phone"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Phone Number</label
                >
                <input
                  th:field="*{phoneNumber}"
                  type="text"
                  id="phone"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter here"
                  required
                />
              </div>


              <!-- for password -->

              <div class="mb-5">
                <label
                  for="password"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Password</label
                >
                <input
                  th:field="*{password}"
                  type="password"
                  id="password"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="*****"
                  required
                />
              </div>


              <!-- for about -->

              <label
                for="message"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >About</label
              >
              <textarea
                th:field="*{about}"
                id="message"
                rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Write Something about yourself"
              ></textarea>
            
            <div class="flex justify-center mt-2 space-x-3 ">
                
              <button type="submit" class = " py-2 px-3 rounded  text-white bg-gray-600  hover:bg-gray-800  dark:bg-blue-600 dark:hover:bg-blue-800">Sign-up</button>
              <button type="reset" class = "px-3 py-2 rounded text-white bg-yellow-400  hover:bg-yellow-600  dark:bg-yellow-400 dark:hover:bg-yellow-600">Reset</button>
           
            </div>

            </form>


          </div>
        </div>
      </div>
    </div>

    <!-- main content ends -->

    <!-- java script starts -->

    <script>
      console.log("this is script 1 of sign -up");
    </script>

    <script>
      console.log("this is script 2 of sign-up");
    </script>
  </body>
</html>
