<!DOCTYPE html>
<html lang="en" th:replace="~{Base :: parent(~{::section},~{::title} , ~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-in</title>
</head>
<body>

    <!-- main content -->
    <!-- login form -->

<section>

    <div class="content">

        <div class="grid grid-cols-12">
            <div class="col-span-0 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
    
            <div class="mt-2 col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">

              <!-- card -->
              <div
                class="block p-6 border-t-[10px] border-yellow-300 bg-white  rounded-xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-yellow-400 dark:hover:bg-gray-700"
              >
    
              <!-- message area -->
              <div th:if="${param.error}" class="text-red-600">
                Invalid username or password.</div>
            <div th:if="${param.logout}" class="text-green-400">
                You have been logged out.</div>

                  <!-- message area -->
          <div th:replace="~{message::messageblock}"></div>
        
                <h5
                  class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                >
                  Sign-in Here
                </h5>
    
                <p class="font-normal text-gray-400 dark:text-gray-400">
                  Start saving your contacts on cloud
                </p>
    
                <form class="mt-2"  th:action="@{/processLogin}" method="post"  >                             
    
                  <!-- for email  -->
    
                  <div class="mb-5">
                    <label
                      for="email"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >Email address</label
                    >
                    <input
                      type="email"
                      name="email"
                      id="email"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="name@gmail.com"
                      required
                    />
                  </div>
                  
    
    
                  <!-- for password -->
    
                  <div class="mb-5">
                    <label
                      for="password"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >Password</label
                    >
                    <input
                      type="password"
                      name="password"
                      id="password"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="*****"
                      required
                    />
                  </div>
                
                <div class="flex justify-center mt-2 space-x-3 ">
                    
                  <button type="submit" class = " py-2 px-3 rounded  text-white bg-gray-600  hover:bg-gray-800  dark:bg-blue-600 dark:hover:bg-blue-800">Sign-up</button>
                  <button type="reset" class = "px-3 py-2 rounded text-white bg-yellow-400  hover:bg-yellow-600  dark:bg-yellow-400 dark:hover:bg-yellow-600">Reset</button>
               
                </div>
                <a href=""></a>
    
                </form>


                <!-- <div class="social-buttons-container flex justify-center mt-5">
                  <a class="px-3 py-2 login-with-google-btn"
                     th:href="@{/oauth2/authorization/google}">
                     Login With Google
                  </a>
              </div> -->
              
    
    
              </div>
            </div>
          </div>


    </div>

</section>


<script>
    console.log("this is script 1 of help");
</script>

<script>
    console.log("this is script 2 of help")
</script>

</body>
</html>